#restaurant {
	font-family:cursive;
}

.restaurantName {
	font-family:'Coming Soon', cursive;
	font-size: 42px;
	font-weight: bold;
	padding-top: 18px;
	text-align:center;
}

.linksTable {
	width: 100%;
	padding: 10px;
}

a {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: green;
	text-decoration: underline;
	
}

a:hover {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: blue;
	text-decoration:none;
}

.contactInfo {
	font-size: 16px;
	padding: 5px;
	text-align:center;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	